:root{
  --background:#F5F5F5;
  --text-primary:#333333;
  --text-secondary:#007ACC;
  --text-accent:#FFA500;
  --error:#FF6347;
  --success:#32CD32;
  --neutral:#808080;
}

[data-theme='dark']{
  --background:#333333;
  --text-primary:#9AB8B1;
  --text-secondary:#4ECDC4;
  --text-accent:#FFD700;
  --error:#FF6347;
  --success:#32CD32;
  --neutral:#A9A9A9;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  background-color: var(--background);
  transition: all .5s;
}

.DarkModeToggle {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.Language_button {
  background-color: var(--text-secondary);
  position: absolute;
  top: 1rem;
  left: 1rem;
  color: white;
  border: none;
  padding: 5px;
  font-size: 18px;
  height: 3rem;
  width: 3rem;
  box-shadow: 0 2px 4px darkslategray;
  cursor: pointer;
  border-radius: 70%;
  transition: all 0.2s ease;

}
.Language_button:active {
  background-color: #48abe0;
  box-shadow: 0 0 2px darkslategray;
  transform: translateY(2px);
}

.Title {
  color: var(--text-primary);
  text-rendering: auto;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}