:root{
  --background:#F5F5F5;
  --text-primary:#333333;
  --text-secondary:#007ACC;
  --text-accent:#FFA500;
  --error:#FF6347;
  --success:#32CD32;
  --neutral:#808080;
}

[data-theme='dark']{
  --background:#333333;
  --text-primary:#9AB8B1;
  --text-secondary:#4ECDC4;
  --text-accent:#FFD700;
  --error:#FF6347;
  --success:#32CD32;
  --neutral:#A9A9A9;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  background-color: var(--background);
  transition: all .5s;
}

.DarkModeToggle {
  position: absolute;
  top: 1rem;
  right: 1rem;
}