:root {
  --background: #d1d1d1;
  --text-primary: #333333;
  --text-secondary: #00609f;
  --text-accent: #a06c0c;
  --error: #FF6347;
  --success: #32CD32;
  --neutral: #808080;
  --ff-primary: "Roboto", sans-serif;
}

[data-theme='dark'] {
  --background: #1d1d20;
  --text-primary: #d3d3d3;
  --text-secondary: #4ECDC4;
  --text-accent: #FFD700;
  --error: #FF6347;
  --success: #32CD32;
  --neutral: #A9A9A9;
}

.app {
  overflow-y: auto;
  min-height: 100vh;
  display:grid;
}


TimelineContent {
  color: var(--text-primary);
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all .5s;
}

p,
span,
h1,
h2,
h3 {
  font-family: var(--ff-primary);
}

.right_section{
  padding: 2rem 2rem;
}

.content.show {
  opacity: 1;
}

.content.hide {
  opacity: 0;
  pointer-events: none;
  user-select: none;
}

.timeline {
  width: 500px;
}

.about_me_section {
  display: flex;
  position: relative;
  justify-items: center;
  justify-items: center;

}

.about_me_description{
  padding: 0 50px;
}

p,
span {
  color: var(--text-primary);
}

h1,
h2,
h3 {
  color: var(--text-secondary);
  line-height: 1;
  font-weight: 900;
  text-shadow: black;
}

.Language_button {
  position: fixed;
  background-color: var(--text-secondary);
  aspect-ratio: 1;
  color: white;
  border: none;
  padding: 5px;
  font-size: 18px;
  height: 3rem;
  width: 3rem;
  top: 0px;
  left: 0px;
  box-shadow: 0 2px 4px darkslategray;
  cursor: pointer;
  border-radius: 70%;
  transition: all 0.2s ease;
}

.content,
.main-container,
.app,
header {
  background-color: var(--background);
  z-index: 0;
}

.DarkModeToggle,
.Language_button {
  z-index: 1;
  margin: 1em;
  position: fixed;
}

.DarkModeToggle {
  top: 0px;
  right: 0px;
}

.app {
  font-size: 1.3125rem;
  line-height: 1.6;
}

.main-container {
  align-items: center;
  overflow: hidden;
  height: 100%;
  box-sizing: border-box;
  align-self: center;
  justify-self: center;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.content {
  display: flex;
  flex-basis: 100%;
  min-height: calc(100% - 102px);
  height: calc(100% - 102px);;
  width: 100vw;
  max-width: 1280px;
  padding: 2.5rem;
  align-self: center;
  justify-content: end;
  overflow: hidden;
}


.left,
.right {
  align-self: center;
  flex: 1;
  display: flex;
  flex-direction: column;
  border-radius: 3%;
}

.left {
  flex-basis: 30%;
  padding-right: 2rem;
}

.right {
  flex-basis: 70%;
  background-color: var(--background);
}

.menu {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--background);
  padding-left: 2rem;
  padding-bottom: 20px ;
}


.fade_in_anim {
  animation-fill-mode: forwards;
  animation-timing-function: ease;
  animation-duration: 1.5s;
  animation-name: fade;
}

.menu > * {
  opacity: 0;
  flex-basis: 100%;
  margin: 0.5rem 0;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
  animation-duration: 1.5s;
  animation-name: fade;
}

.menu > *:nth-child(1) {
  animation-delay: 0.2s; /* No delay for the first child */
}

.menu > *:nth-child(2) {
  animation-delay: 0.6s; /* Slight delay for the second child */
}

.menu > *:nth-child(3) {
  animation-delay: 1s; /* Delay for the third child */
}

a {
  color: var(--text-secondary);
  text-align: right;
}

p {
  color: var(--text-primary);
}

.left::before{
  z-index: -1;
  content: "";
  display: flex;
  position: relative;
  width: 5rem;
  height: 5rem;
  top: 311px;
  left: -10px;
  background: linear-gradient(136deg, var(--error)0%, var(--success)50%, var(--error)100%);
  border-radius: 10%;
}

.right::before{
  z-index: -1;
  content: "";
  display: block;
  position: absolute;
  width: 10rem;
  height: 10rem;
  transform: translate(-15px, -15px);
  background: linear-gradient(136deg, var(--error)0%, var(--success)50%, var(--error)100%);
  border-radius: 10%;
  opacity: 100%;
}



a {
  padding-left: 0.5em;
}




.top-right-box,
.bottom-right-box
{
  z-index: -1;
  position: absolute;
  border-radius: 10%;
  width: 11rem;
  height: 11rem;
  background-color: var(--background);
}


.bottom-right-box{
  align-self: flex-end;
}

.gradient{
  width: 9rem;
  height: 9rem;
  transform: translate(1rem, 1rem);
  background: linear-gradient(136deg, var(--error)0%, var(--success)50%, var(--error)100%);
  border-radius: 10%;
}

.gradient-top{
  transform: translate(1rem, -1rem);
}

.name_svg {
  width: 250px;
}

.name_svg > * {
  stroke:var(--text-primary);
  fill: var(--background);
}

.name_svg path:nth-child(1) {
  stroke-dasharray: 582;
  stroke-dashoffset: 582;
  animation: line-animation 2s ease forwards 3.0s, fill 0.5s ease forwards 3.3s;
}

.name_svg path:nth-child(2) {
  stroke-dasharray: 736 ;
  stroke-dashoffset: 736;
  animation: line-animation 2s ease forwards 2.7s,fill 0.5s ease forwards 3.3s;
}
.name_svg path:nth-child(3) {
  stroke-dasharray: 343;
  stroke-dashoffset: 343;
  animation: line-animation 2s ease forwards 2.4s, fill 0.5s ease forwards 3.3s;
}
.name_svg path:nth-child(4) {
  stroke-dasharray: 685;
  stroke-dashoffset: 685;
  animation: line-animation 2s ease forwards 2.1s, fill 0.5s ease forwards 3.3s;
}

.name_svg path:nth-child(5) {
  stroke-dasharray: 488;
  stroke-dashoffset: 488;
  animation: line-animation 2s ease forwards 1.8s, fill 0.5s ease forwards 3.3s;
}
.name_svg path:nth-child(6) {
  stroke-dasharray: 702;
  stroke-dashoffset: 702;
  animation: line-animation 2s ease forwards 1.5s, fill 0.5s ease forwards 3.3s;
}

.name_svg path:nth-child(7) {
  stroke-dasharray: 685;
  stroke-dashoffset: 685;
  animation: line-animation 2s ease forwards 1.2s, fill 0.5s ease forwards 3.3s;
}
.name_svg path:nth-child(8) {
  stroke-dasharray: 345;
  stroke-dashoffset: 345;
  animation: line-animation 2s ease forwards 0.9s, fill 0.5s ease forwards 3.3s;
}
.name_svg path:nth-child(9) {
  stroke-dasharray: 578;
  stroke-dashoffset: 578;
  animation: line-animation 2s ease forwards 0.6s, fill 0.5s ease forwards 3.3s;
}

.name_svg path:nth-child(10) {
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
  animation: line-animation 2s ease forwards 0.3s, fill 0.5s ease forwards 3.3s;
}

@keyframes line-animation {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fill {
  from{
    fill: var(--background);
  }
  to{
    fill: var(--text-primary);
  }
}

@media (max-width: 800px) {
  .content {
    padding: 0 5rem;
    flex-direction: column;
    margin-bottom: 5rem;
  }

  .about_me_section{
    flex-direction: column;
  }

  .left,
  .right {
    position: relative;
    flex: 1;
    padding: 0;
    margin: 0 0;
    margin-top: 1em;
  }

  .left {
    padding: 2.5rem 0;
  }

  .right {
    margin-bottom: auto;
  }
}

@media (max-width: 450px) {
  .content {
    padding: 0 1rem;
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;
  }

  .left,
  .right {
    padding: 0;
    margin: 0 0;
    margin-top: 1em;
  }

  .left {
    height: auto;
    padding: 2.5rem 0;
  }
}